#bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-shadow: -1px -1px black;
}

#quote {
  text-align: center;
  font-size: 2em;
  background-color: black;
  opacity: .5;
  height: 10vh;
}

#weather {
  background-color: black;
  opacity: .5;
  
}

#clock {
  text-align: center;
  padding-top: 200px;
  font-size: 3em;
  
}

#form {
  justify-content: start;

}

#description {
  background-color: whitesmoke;
  opacity: .5;
  border: none;
  font-size: 2em;
  color: white;
}

.strikethrough {
  text-decoration: line-through;
}